<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>python部落论坛</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                  <center><h1>Python部落论坛</h1></center>
                </div>
            </div>
        </div>
        {% block index %} {% endblock %}
        <div class="row">
            {% block content %} {% endblock %}
            {% block input %} {% endblock %}
            {% block detail %} {% endblock %}
            <!-- 代表一个块标签 名字叫content-->
        </div>

    </div>
</body>
</html>