{% extends 'base.html' %}
{% block content %}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="{% url 'block_list' %}">首页</a></li>
        <!-- block_list对应的是总的url里面的name为block_list-->
        <li class="active">{{block.name}}</li>
        <!-- 根据article/views.pt里面的block熏染变量传过来的-->
    </ol>
    <table class="table table_bordered">
        <tr>
            <th>状态</th>
            <th>标题</th>
            <th>作者</th>
            <th>最后更新时间</th>
        </tr>
        {% for article in articles %}
        <tr>
            <td>{{article.get_status_display}}</td>
            <!-- get_字段名_dispaly主要用于枚举的时候输出枚举值,这里是输出汉字-->
            <td>{{article.owner}}</td>
            <td>{{article.title}}</td>
            <td>{{article.update_time|date:"Y-m-d P"}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}