{% extends 'base.html' %}
{% block content %}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="{% url 'block_list' %}">首页</a></li>
        <!-- block_list对应的是总的url里面的name为block_list-->
        <li class="active">{{blocks.name}}</li>
        <!-- 根据article/views.pt里面的blocks熏染变量传过来的-->
    </ol>
    <a class="btn btn-primary" href="{% url 'create_article' blocks.id %}">提交表单</a>

    <table class="table table_bordered">
        <tr>
            <th>标题</th>
            <th>作者</th>
            <th>状态</th>
            <th>最后更新时间</th>
        </tr>
        {% for article in articles %}
        <tr>
            <td><a href="{% url 'article_detail' article.id %}">{{article.title}}</a></td>
            <td>{{article.owner}}</td>
            <td>{{article.get_status_display}}</td>
            <!-- get_字段名_dispaly主要用于枚举的时候输出枚举值,这里是输出汉字-->
            <td>{{article.update_time|date:"Y-m-d P"}}</td>
        </tr>
        {% endfor %}
    </table>
    <!-- 分页列表-->
    <br />
    <nav>
        <ul class="pagination">
            {% if has_pervious %}
            <li>
                <a href="?page_no=1" aria-label="Previous">
                    <span aria-hidden="true">首页</span>
                </a>
            </li>
            <li>
                <a href="?page_no={{previous_link}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for no in page_links %}
            <li {% if current_no == no %} class="active"{%endif%}>
                <a href="?page_no={{ no }}">{{ no }}</a>
            </li>
            {% endfor %}
            {% if has_next %}
            <li>
                <a href="?page_no={{ next_link }}" aria-label="Next">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li>
                <a href="?page_no={{ page_cnt }}" aria-label="Next">
                    <span aria-hidden="true">尾页</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}