{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        {% if form.errors %}
            <div class="alter alter-danger">{{form.errors}}</div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <b>登入</b>
            </div>
            <div class="panel-body">
                <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-addon">用户名</span>
                    <input id="id_username" maxlength="254" name="username" type="text" class="from-control" />
                    <!-- django登入页面必须要有个username和password两个name-->
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">密码</span>
                    <input id="id_password" name="password" type="password" class="from-control" />
                </div>
                <br />
                <input type="submit" class="btn btn-primary" value="登入" />
                     <!-- 通过setting.py中的LOGIN_REDIRECT_URL 来控制登入后需要跳转的页面-->
                <input type="hidden" name="next" value="{{next}}" />
                <!-- next 会记录我要去的url中(如果账号和密码正确，则登录成功，页面将会重定向到next指定的URL中)-->
                <a herf="{% url 'password_reset' %}" class="btn btn-primary">忘记密码</a>
                </form>
            </div>
            <div class="panel-footer">
                <a href="{% url 'usercenter_register' %}">没有账户?去注册......</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </div>
    <div class="col-md-3">
        &nbsp;
    </div>
</div>
{% endblock %}

