<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>板块列表</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="jumbotron">
                  <center><h1>Hello, world!</h1></center>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a href="" style="font-size: 18px">部落讨论</a>
                    <span class="pull-right">管理员</span>
                  </div>
                  <div class="panel-body">
                    啊啊啊啊啊啊
                  </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>